.sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    left: 50px; /* Adjust based on appbar width */
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding-top: 60px; /* Adjust based on your navbar height */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebar-fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1030; /* Ensure it stays above other content */
}

.sidebar-fixed-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1030; /* Ensure it stays above other content */
}

.sidebar a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.content-with-sidebar {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 20px;
}

.main-content {
    margin-left: 220px; /* Adjust based on sidebar width + some margin */
    padding: 20px;
}

.sidebar .active {
    background-color: #007bff;
    color: white;
}

.sidebar .active:hover {
    background-color: #0056b3;
    color: white;
}
