{% block sidebar %}

<div class="sidebar-fixed-left">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">Sites</a></li>
        <li><a href="{{ url_for('contact') }}">News</a></li>
        <li><a href="{{ url_for('contact') }}">Files</a></li>
        <li><a href="{{ url_for('contact') }}">Lists</a></li>
        <li><a href="{{ url_for('contact') }}">Connections</a></li>
        <li><a href="{{ url_for('contact') }}">Create</a></li>
    </ul>
</div>

{% endblock %}
