body {
    /* nav bar fixed top !!!!!!!!!!!!!!!!!!!!!!!!!!! */ 
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border: #b94a48 5px solid;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for unobtrusive validation */
span[data-val="true"] {
    display: none;
}   
input[data-val="true"].input-validation-error {
    border: 1px solid #b94a48;
}
textarea[data-val="true"].input-validation-error {
    border: 1px solid #b94a48;
}
select[data-val="true"].input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"][data-val="true"].input-validation-error {
    border: 0 none;
}
span[data-valmsg-for].field-validation-error {
    color: #b94a48;
    display: inline;
}
div.validation-summary-errors {
    color: #b94a48;
}
div.validation-summary-valid {
    display: none;
}

/* styles for appbar */
.appbar {
    /* display flex? !!!!!!!!!!!!!!!!!!!!!!!! */ 
    justify-content: center;
    max-width: 50px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #f01010;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
